/*		Font Includes		*/

@font-face {
  font-family: 'Panton-Bold';
  src: url('../fonts/Panton-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Panton-Light';
  src: url('../fonts/Panton-Light.otf') format('opentype');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../css/fontawesome.min.css');
}

/*		Mixin Includes		*/

@mixin initialDisplay($display, $justify, $align-i) {
	-webkit-display: $display;
	-moz-display: $display;
	-ms-display: $display;
	-o-display: $display;
	display: $display !important;

	-webkit-justify-content: $justify;
	-moz-justify-content: $justify;
	-ms-justify-content: $justify;
	-o-justify-content: $justify;
	justify-content: $justify;

	-ms-align-items: $align-i;
	align-items: $align-i;
}

@mixin initialScaling($size) {
	-webkit-transform: $size;
	-ms-transform: $size;
	-o-transform: $size;
	transform: $size;
}

@mixin initialTransition($time) {
	-webkit-transition: $time;
	-o-transition: $time;
	transition: $time;
}

@mixin initialBorder($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}