@import "variables.scss";
@import "includes.scss";

@media only screen and (min-width : 669px) and (max-width : 1723px) {
	.head-col-nav-bar * li {
	list-style: none;
    float: left;
    text-align: center;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 4);
    box-sizing: border-box;
	}
}

@media only screen and (max-width : 660px) {
	
	header {
		width: 100%;
		& .head-col-nav-bar-wrap {
		width: 80%;
		margin: 0 auto;
		@include initialDisplay(flex, center, center);
	}
	}

	#page-wrapper {
		width: 90%;	
	}

	#main-article {
		width: 100%;
	}

	.foot-col-nav-bar {
		margin-top: 200px;

		.foot-col-item {
			width: 100%;
			padding: 15px 30px;
			text-align: center;
		}
	}
}