/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables.scss";
@import "includes.scss";

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, serif;
	height: 100%;
}

h1 {
	font-size: $fixed-size + px;
	font-family: 'Panton-Bold';
	color: rgb(34, 34, 34);
}

h2 {
	padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

#scrollBar-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 1px;
}

#scrollBar-progress {
	transition: all 500ms;
	background-color: rgb(35, 36, 31);
	width: 0%;
	height: 1px;
}

#page-wrapper {
	position: relative;
	height: 100%;
	width: 60%;
	margin: 0 auto;
}

#article-wrapper {
	position: absolute;
    width: 100%;
    margin: 120px 0 200px;
}

#main-article {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.article-paragraph {
	margin-top: 40px;
	margin-bottom: 40px;
}

pre {
	&:hover {
		cursor: pointer;
	}
}