/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$in: 'Hover';
$fontSize: 25;

%equal-display {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, serif;
	font-size: $fontSize / 1.15 + px ;

	height: 100%;
	@extend %equal-display;
}

.key {
	position: relative;
	height: 170px;
	width: 320px;
	background-color: rgba(0,0,0,.15);
	@include border-radius(85px);
	.key-item {
		position: absolute;
		height: inherit;
		width: 50%;
		background-color: rgba(0,0,0,.25);
		@include border-radius(50%);
		&:hover {
			cursor: pointer;
		}
	}
}

@keyframes upDownToggleFade {
	0%, 100% {
		transform: scale(1,1);
		background-position: 0% 50%
	} 
	50% {
		transform: scale(.9,.9);
		background-position: 100% 50%
	}
}

#sphere {
	height: 100px;
	width: 100px;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	transition: all 600ms;
	overflow: hidden;
	@extend %equal-display;
	@include border-radius(50%);
	&:hover {
		animation: upDownToggleFade 3s infinite;
		transition: all 600ms;
		cursor: pointer;
		&:after {
			content: '#{$in}ed';
		}
	}
	&:after {
			content: '#{$in}me';
		}
}

.toggled {
	right: 0;
	background-color: #9FE1C3;
}